In [99]:
import pandas as pd

In [100]:
data = pd.read_csv('houses_to_rent_v2.csv')

In [101]:
data.shape

(10692, 13)

In [102]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

In [103]:
data['city'].value_counts()

city
São Paulo         5887
Rio de Janeiro    1501
Belo Horizonte    1258
Porto Alegre      1193
Campinas           853
Name: count, dtype: int64

In [104]:
data.rename(columns = {'rent amount (R$)': 'rent_amount'}, inplace = True)
data.rename(columns = {'fire insurance (R$)': 'fire insurance'}, inplace = True)
data.rename(columns = {'property tax (R$)': 'property tax'}, inplace = True)
data.rename(columns = {'hoa (R$)': 'hoa'}, inplace = True)
data.rename(columns = {'total (R$)': 'total'}, inplace = True)

In [105]:
data.columns

Index(['city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal', 'furniture', 'hoa', 'rent_amount', 'property tax',
       'fire insurance', 'total'],
      dtype='object')

In [106]:
categorical_cols = data.select_dtypes(include=['object', 'category']).columns

for col in categorical_cols:
    print(f"--- {col} ---")
    print(data[col].value_counts())
    print("\n")

--- city ---
city
São Paulo         5887
Rio de Janeiro    1501
Belo Horizonte    1258
Porto Alegre      1193
Campinas           853
Name: count, dtype: int64


--- floor ---
floor
-      2461
1      1081
2       985
3       931
4       748
5       600
6       539
7       497
8       490
9       369
10      357
11      303
12      257
13      200
14      170
15      147
16      109
17       96
18       75
19       53
20       44
21       42
23       25
25       25
22       24
26       20
24       19
27        8
28        6
29        5
32        2
46        1
35        1
301       1
51        1
Name: count, dtype: int64


--- animal ---
animal
acept        8316
not acept    2376
Name: count, dtype: int64


--- furniture ---
furniture
not furnished    8086
furnished        2606
Name: count, dtype: int64

In [107]:
# for floor feature : Replace '-' with 0 in 'floor' column
data['floor'].replace(to_replace='-', value=0, inplace=True)

/tmp/ipykernel_153985/1854604447.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['floor'].replace(to_replace='-', value=0, inplace=True)

In [108]:
# For animal feature : Replace 'accepts' with 1 and 'not accepted' with 0 in 'animal' column
data['animal'].replace(to_replace='not acept', value=0, inplace=True)
data['animal'].replace(to_replace='acept', value=1, inplace=True)

/tmp/ipykernel_153985/3598834519.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['animal'].replace(to_replace='not acept', value=0, inplace=True)
/tmp/ipykernel_153985/3598834519.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['animal'].replace(to_replace='acept', value=1, inplace=True)
/tmp/ipykernel_153985/3598834519.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['animal'].replace(to_replace='acept', value=1, inplace=True)

In [109]:
# For furniture feature : Replace 'furnished' with 1 and 'not furnished' with 0 in 'furniture' column
data['furniture'].replace(to_replace='furnished', value=1, inplace=True)
data['furniture'].replace(to_replace='not furnished', value=0, inplace=True)

/tmp/ipykernel_153985/1515146844.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['furniture'].replace(to_replace='furnished', value=1, inplace=True)
/tmp/ipykernel_153985/1515146844.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['furniture'].replace(to_replace='not furnished', value=0, inplace=True)
/tmp/ipykernel_153985/1515146844.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['furniture'].replace(to_replace='not furnished', value=0, inplace=True)

In [110]:
print(data['animal'].value_counts())

animal
1    8316
0    2376
Name: count, dtype: int64

In [111]:
print(data['floor'].value_counts())

floor
0      2461
1      1081
2       985
3       931
4       748
5       600
6       539
7       497
8       490
9       369
10      357
11      303
12      257
13      200
14      170
15      147
16      109
17       96
18       75
19       53
20       44
21       42
23       25
25       25
22       24
26       20
24       19
27        8
28        6
29        5
32        2
46        1
35        1
301       1
51        1
Name: count, dtype: int64

In [112]:
print(data['furniture'].value_counts())

furniture
0    8086
1    2606
Name: count, dtype: int64

In [113]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent_amount,property tax,fire insurance,total
0,São Paulo,70,2,1,1,7,1,1,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,1,0,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,1,0,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,1,0,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,0,0,0,800,25,11,836

In [116]:
data['city'].unique()

array(['São Paulo', 'Porto Alegre', 'Rio de Janeiro', 'Campinas',
       'Belo Horizonte'], dtype=object)

In [119]:
unique_cities = data['city'].unique()
dict_city = {city: idx for idx, city in enumerate(unique_cities)}

In [120]:
dict_city

{'São Paulo': 0,
 'Porto Alegre': 1,
 'Rio de Janeiro': 2,
 'Campinas': 3,
 'Belo Horizonte': 4}

In [121]:
data['city'] = data['city'].map(dict_city)

In [122]:
data['city'].unique()

array([0, 1, 2, 3, 4])